.fill-central-space {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100%;
  position: fixed;
  right: 0;
  z-index: 1000;
  background: rgba(92, 151, 191, 1);
}

.mat-drawer {
  background-color: #5262bc !important;
}

.active {
  background-color: #3c4b9c !important;
}

mat-list-item {
  color: white !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}