<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #sidenav
    class="sidenav"
    mode="side"
    opened="true"
    hasBackdrop="false"
  >
    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded">
        <button mat-icon-button>
          <mat-icon *ngIf="!isExpanded">chevron_left</mat-icon>
          <mat-icon *ngIf="isExpanded">chevron_right</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLinkActive]="['active']" [routerLink]="['Home']">
        <mat-icon mat-list-icon>home</mat-icon>
        <p matLine *ngIf="isExpanded">Home</p>
      </mat-list-item>
      <mat-list-item [routerLinkActive]="['active']" [routerLink]="['Boards']">
        <mat-icon mat-list-icon>view_module</mat-icon>
        <p matLine *ngIf="isExpanded">Boards</p>
      </mat-list-item>
      <mat-list-item [routerLinkActive]="['active']" [routerLink]="['Posts']">
        <mat-icon mat-list-icon>list_alt</mat-icon>
        <p matLine *ngIf="isExpanded">Posts</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLinkActive]="['active']" [routerLink]="['User/Login']">
        <mat-icon mat-list-icon>person</mat-icon>
        <p matLine *ngIf="isExpanded">User</p>
      </mat-list-item>
      <mat-list-item [routerLink]="['User/Logout']">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <p matLine *ngIf="isExpanded">Logout</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content"> </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="primary">
  <span>FluxCode</span>
  <span class="fill-central-space"></span>
  <mat-form-field class="searchBar">
    <input
      type="search"
      matInput
      [formControl]="searchString"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <span class="fill-central-space"></span>
</mat-toolbar>
<app-loader></app-loader>
<ng-content></ng-content>
