<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #sidenav
    mode="side"
    opened="true"
    hasBackdrop="false"
  >
    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded">
        <button mat-icon-button>
          <mat-icon *ngIf="!isExpanded">chevron_left</mat-icon>
          <mat-icon *ngIf="isExpanded">chevron_right</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLinkActive]="['active']" [routerLink]="['Home']">
        <mat-icon mat-list-icon>home</mat-icon>
        <p matLine *ngIf="isExpanded">Home</p>
      </mat-list-item>
      <mat-list-item [routerLinkActive]="['active']" [routerLink]="['Boards']">
        <mat-icon mat-list-icon>view_module</mat-icon>
        <p matLine *ngIf="isExpanded">Boards</p>
      </mat-list-item>
      <mat-list-item [routerLinkActive]="['active']" [routerLink]="['Posts']">
        <mat-icon mat-list-icon>list_alt</mat-icon>
        <p matLine *ngIf="isExpanded">Posts</p>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item *ngIf="user$ | async else notLoggedIn; let user" [routerLinkActive]="['active']" [routerLink]="['User']">
        <mat-icon  mat-list-icon [ngStyle]="user.avatar" class="userAvatar"></mat-icon>
        <ng-template #notLoggedIn><mat-icon mat-list-icon>person</mat-icon></ng-template>
        <p matLine *ngIf="isExpanded">{{ user.displayName }}</p>
      </mat-list-item>

      <ng-template #notLoggedIn>
          <mat-list-item [routerLinkActive]="['active']" [routerLink]="['User/Login']">
            <mat-icon  mat-list-icon>person</mat-icon>
            <p matLine *ngIf="isExpanded">Login</p>
          </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="user$ | async" (click)="logout()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <p matLine *ngIf="isExpanded">Logout</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>

<mat-toolbar color="primary">
  <span>FluxCode</span>
  <span class="fill-central-space"></span>
</mat-toolbar>
<app-loader></app-loader>
<ng-content></ng-content>

