<mat-card class="postCard">
  <mat-card-header>
    <div
      mat-card-avatar
      [routerLink]="['/Board', post.board.id]"
      class="languageAvatar"
      [ngStyle]="post.board.icon"
    ></div>
    <mat-card-title
      ><a [routerLink]="['/Post', post.id]">{{ post.title }}</a></mat-card-title
    >
    <mat-card-subtitle
      ><a [routerLink]="['/Board', post.board.id]"
        ><b>{{ post.board.name }}</b></a
      >
      || Posted by
      <a [routerLink]="['/User', post.user.userName]"
        ><b>user/{{ post.user.displayName }}</b></a
      >
      on {{ post.dateAdded | date: "longDate" }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    {{
      post.content.length > 600
        ? (post.content | slice: 0:600) + "...."
        : post.content
    }}
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      class="visitButton"
      [routerLink]="['/Post', post.id]"
    >
      View
    </button>
    <button mat-button>
      <mat-icon>comment</mat-icon
      ><span class="buttonSubText"> {{ post.noComments }} Comments</span>
    </button>
    <a mat-button *ngIf="isLiking | async; else notLiking" color="primary" (click)="like()">
      <mat-icon>thumb_up_alt</mat-icon
      ><span class="buttonSubText">
        You
        <div *ngIf="(likes | async) > 1">and {{ post.likes - 1 }} other people</div>
        liked this!</span
      >
    </a>
    <ng-template #notLiking
      ><a mat-button (click)="like()">
        <mat-icon>thumb_up_alt</mat-icon
        ><span class="buttonSubText">
          {{ likes | async }}
          <span *ngIf="(likes | async) == 1; else multiplePeople">
            person
          </span>
          <ng-template #multiplePeople>
            people
          </ng-template>
          liked this!
        </span>
      </a></ng-template
    >
  </mat-card-actions>
</mat-card>
