h1 {
    margin-left: 10px;
    color: #3f51b5;
}

.postList {
    margin-left: 10px;
    margin-right: 10px;
}

.postListItem {
    box-shadow: 1px 1px 1px 1px rgb(224, 224, 224);
    margin: 5px;
    border-radius: 5px;
}

.postCard {
    padding-bottom: 0;
}

.languageAvatar {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png');
    background-size: cover;
}

.buttonSubText {
    font-size: 0.8em;
}