<div>
  <h1>Featured Boards</h1>
  <div layout="row">
    <mat-card *ngFor="let board of (boards | async)" class="languageCard">
      <mat-card-header>
        <div mat-card-avatar class="languageAvatar"></div>
        <mat-card-title>{{board.name}}</mat-card-title>
        <mat-card-subtitle>Programming language</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="visitButton">Visit</button>
        <button mat-mini-fab class="favorite">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>