<mat-card>
  <mat-card-header>
    <div mat-card-avatar [routerLink]="['/Board', post.board.id]" class="userAvatar" [ngStyle]="post.board.icon">
    </div>
    <mat-card-title>{{
          post.title
        }}</mat-card-title>
    <mat-card-subtitle><a [routerLink]="['/Board', post.board.id]"><b>{{ post.board.name }}</b></a>
      || Posted by
      <a [routerLink]="['/User', post.user.userName]"><b>user/{{ post.user.displayName }}</b></a>
      on {{ post.dateAdded | date: "longDate" }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{post.content}}
  </mat-card-content>
  <mat-card-actions>
    <ng-template #disabled>
      <button mat-raised-button (click)="toLogin()"><mat-icon>add_comment</mat-icon> Comment</button>
    </ng-template>
    <button mat-raised-button color="primary" *ngIf="loggedIn else disabled" (click)="loadComment()"><mat-icon>add_comment</mat-icon> Comment</button>
    <a mat-button *ngIf="isLiking | async; else notLiking" color="primary" (click)="like()">
      <mat-icon>thumb_up_alt</mat-icon
      ><span class="buttonSubText">
        You
        <div *ngIf="(likes | async) > 1">and {{ post.likes - 1 }} other people</div>
        liked this!</span
      >
    </a>
    <ng-template #notLiking
      ><a mat-button (click)="like()">
        <mat-icon>thumb_up_alt</mat-icon
        ><span class="buttonSubText">
          {{ likes | async }}
          <span *ngIf="(likes | async) == 1; else multiplePeople">
            person
          </span>
          <ng-template #multiplePeople>
            people
          </ng-template>
          liked this!
        </span>
      </a></ng-template
    >
  </mat-card-actions>
  <mat-card-content>
    <app-comment-form *ngIf="(clicked | async)" [post]="post"></app-comment-form>

    <div *ngFor="let comment of post.comments | slice: lowValue:highValue" class="commentItem">
      <app-comment-card [comment]="comment"></app-comment-card>
    </div>
    <mat-paginator length="{{ post.noComments }}" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true" (page)="pageEvent = getPaginatorData($event)">
    </mat-paginator>

  </mat-card-content>
</mat-card>
