<div>
  <h1>Welcome to CodeApp</h1>
  <p>
    This is the homepage where we provide you an overview of our most relevant
    content.
    <br />
    Thank you for visiting, and do enjoy your stay!
  </p>
  <p>
    If you enjoy this application, don't hesitate to sign up or log in!
    <br />
    By doing so, you get the ability to like, react, comment and post content!
  </p>
  <a mat-stroked-button color="primary" [routerLink]="['/User/Register']">
    Create your free account now!
  </a>
  or
  <a mat-raised-button color="primary" [routerLink]="['/User/Login']">Login</a>
</div>
