<mat-card class="boardCard">
  <mat-card-header>
    <div mat-card-avatar class="boardIcon" [ngStyle]="board.icon"></div>
    <mat-card-title>{{ board.name }}</mat-card-title>
    <mat-card-subtitle>{{ board.description }}<br><b>{{ likes | async }} {{ (likes | async) === 1 ? "Like" : "Likes"}} &middot; {{ board.noPosts }} {{ board.noPosts === 1 ? "Post" : "Posts"}}</b> </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      class="visitButton"
      [routerLink]="['/Board', board.id]"
    >
      Visit
    </button>

    <button
      *ngIf="isLiking | async; else notLiking"
      mat-mini-fab
      class="favorite"
      (click)="like()"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <ng-template #notLiking>
      <button mat-mini-fab class="favorite notLiking"
      (click)="like()">
        <mat-icon>favorite</mat-icon>
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>
