.boardCard {
    box-shadow: 2px 2px 2px 2px rgb(212, 212, 212);
    width: 245px;
    display: inline-block;
    margin: 5px;
}

.boardCard:hover {
    box-shadow: 2px 2px 2px 2px #555;
}

.boardIcon {
  background-size: cover;
}

.favorite {
    float: right;
}

.visitButton {
    width: 60%;
}

.notLiking{
    color: rgb(139, 139, 139);
    background-color: #ffffff;
}