<mat-card *ngIf="user$ | async; let user">
  <mat-card-header>
    <div
      mat-card-avatar
      [routerLink]="['/User', user.userName]"
      class="userAvatar"
      [ngStyle]="user.avatar"
    ></div>
    <mat-card-title>Hello, {{ user.displayName }}!</mat-card-title>
    <mat-card-subtitle>Take a look at some of your stats!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile>
        <button mat-flat-button color="primary">
          <mat-icon mat-list-icon>
              list_alt
          </mat-icon><br>
          {{ user.noCreatedPosts }} {{user.noCreatedPosts===1? "Post": "Posts"}}
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-flat-button color="accent">
            <mat-icon mat-list-icon>
                favorite
            </mat-icon><br>
          {{ user.noLikedPosts }} {{user.noLikedPosts===1? "Like": "Likes"}}
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-flat-button class="magenta">
            <mat-icon mat-list-icon>
                textsms
            </mat-icon><br>
          {{ user.noCreatedComments }} {{user.noCreatedComments===1? "Comment": "Comments"}}
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>


<div *ngIf="!(user$ | async)">
  <h1>Welcome to CodeApp</h1>
  <p>
    This is the homepage where we provide you an overview of our most relevant
    content.
    <br />
    Thank you for visiting, and do enjoy your stay!
  </p>
  <p>
    If you enjoy this application, don't hesitate to sign up or log in!
    <br />
    By doing so, you get the ability to like, react, comment and post content!
  </p>
  <a mat-stroked-button color="primary" [routerLink]="['/User/Register']">
    Create your free account now!
  </a>
  or
  <a mat-raised-button color="primary" [routerLink]="['/User/Login']">Login</a>
</div>

<mat-divider></mat-divider>
<app-board-explorer></app-board-explorer>
<app-post-explorer></app-post-explorer>
