.userAvatar {
    background-size: cover;
}

.commentItem {
    margin-bottom: 20px;
}

mat-card {
    box-shadow: 2px 2px 2px 2px rgb(168, 168, 168);
    padding-bottom: 15px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(209, 209, 209);
}

.commentItem:hover {
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #555;
}

.userAvatar:hover {
    cursor: pointer;
}
form{
    width: 100%;
}
  
.fill-width {
    margin-bottom: 10px;
    width: 100%;
}

mat-card-content{
    text-align: right;
}
mat-card-content>button{
    padding: 2px 40px;
}
textarea{
    resize: vertical;
}