<mat-toolbar color='primary'>
  <span>FluxCode</span>
  <span class='fill-central-space'></span>
  <mat-menu #appMenu='matMenu'>
    <ng-template matMenuContent let-name='name'>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Boards</button>
      <button mat-menu-item>Log off {{name}}</button>
    </ng-template>
  </mat-menu>

  <mat-form-field class='searchBar'>
    <input type='search' matInput [formControl]='searchString' [matAutocomplete]='auto'>
    <mat-autocomplete #auto='matAutocomplete'>
        <mat-option *ngFor='let option of filteredOptions | async' [value]='option'>
          {{option}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>

  <span class='fill-central-space'></span>
  <button mat-icon-button matTooltip='Create new post'>
    <mat-icon>create</mat-icon>
  </button>
  <button mat-icon-button matTooltip='Notifications'>
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]='appMenu' [matMenuTriggerData]='{name: "Bob"}'>
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
