<h1>Featured Posts</h1>
<div class='postList'>
  <div *ngFor='let post of (posts | async)' class='postListItem'>
    <mat-card class='postCard'>
      <mat-card-header>
        <div mat-card-avatar [routerLink]="['/Boards', post.boardId]" class='languageAvatar' [ngStyle]='post.boardIcon'>
        </div>
        <mat-card-title><a [routerLink]="['/Posts', post.id]">{{post.title}}</a></mat-card-title>
        <mat-card-subtitle><a [routerLink]="['/Boards', post.boardId]"><b>{{post.boardName}}</b></a> || Posted by <a [routerLink]="['/Users', post.user]"><b>user/{{post.user}}</b></a> on
          {{post.dateAdded | date:'longDate'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ (desc.length>600)? (desc | slice:0:600)+'....':(desc) }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color='primary' class='visitButton' [routerLink]="['/Posts', post.id]">View</button>
        <button mat-button>
          <mat-icon>comment</mat-icon><span class='buttonSubText'>666 Comments</span>
        </button>
        <a mat-button color='primary'>
          <mat-icon>thumb_up_alt</mat-icon><span class='buttonSubText'>You and 115 other people liked this!</span>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
