<h1>Featured Posts</h1>
<div class='postList'>
  <div *ngFor='let post of (posts | async)' class='postListItem'>
    <mat-card class='postCard'>
      <mat-card-header>
            <div mat-card-avatar [routerLink]="['/Boards', post.boardId]" class='languageAvatar' [ngStyle]='post.boardIcon'></div>
            <mat-card-title><a [routerLink]="['/Posts', post.id]">{{post.title}}</a></mat-card-title>
            <mat-card-subtitle><b>{{post.boardName}}</b> || Posted by user/{{post.user}} on {{post.dateAdded | date:'longDate'}}</mat-card-subtitle>
            <mat-card-subtitle>
              <button mat-button><mat-icon>comment</mat-icon><span class='buttonSubText'>666 Comments</span></button>
              <a mat-button color='primary' routerLink="/Posts"><mat-icon>thumb_up_alt</mat-icon><span class='buttonSubText'>You and 115 other people liked this!</span></a>
            </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
