<mat-button-toggle-group #group="matButtonToggleGroup" style="float: right; margin-top: 12px;">
  <mat-button-toggle (change)="this.sort($event.value)"  matTooltip="Sort by: New" value="dateAdded" [checked]="true">
    <mat-icon>update</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle (change)="this.sort($event.value)" matTooltip="Sort by: Best" value="likes">
    <mat-icon>thumb_up_alt</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle (change)="this.sort($event.value)" matTooltip="Sort by: Controversial" value="comments">
    <mat-icon>comment</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<div class="postList">
  <div *ngFor="let post of posts | async | slice: lowValue:highValue" class="postListItem">
    <app-post-card [post]="post"></app-post-card>
  </div>
  <mat-paginator length="{{ (posts | async)?.length }}" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true" (page)="pageEvent = getPaginatorData($event)">
  </mat-paginator>
</div>
