<mat-card class="postCard">
  <mat-card-header>
    <div
      mat-card-avatar
      [routerLink]="['/User', comment.user.userName]"
      class="userAvatar"
      [ngStyle]="comment.user.avatar"
    ></div>
    <mat-card-title>
      <a [routerLink]="['/User', comment.user.userName]"
        ><b>user/{{ comment.user.displayName }}</b></a
      >
    </mat-card-title>
    <mat-card-subtitle>
      Posted on {{ comment.dateAdded | date: "longDate" }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    {{ comment.content }}
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-button
      *ngIf="comment.isLiking; else notLikingComment"
      color="primary"
      (click)="like()"
    >
      <mat-icon>thumb_up_alt</mat-icon
      ><span class="buttonSubText">
        You
        <div *ngIf="comment.likes > 1">
          and {{ comment.likes - 1 }} other people
        </div>
        liked this!</span
      >
    </a>
    <ng-template #notLikingComment
      ><a mat-button
      (click)="like()">
        <mat-icon>thumb_up_alt</mat-icon
        ><span class="buttonSubText">
          {{ comment.likes }}
          <span *ngIf="comment.likes == 1; else multiplePeople">
            person
          </span>
          <ng-template #multiplePeople>
            people
          </ng-template>
          liked this!
        </span>
      </a></ng-template
    >
  </mat-card-actions>
</mat-card>
