@import url(https://fonts.googleapis.com/css?family=Gilda+Display);

.static {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  top: -100px;
  opacity: 0.05;
  z-index: -1;
}

.error {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 95px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  margin-top: 200px;
  position: absolute;
  left: -60px;
  right: 0;
  animation: noise 10s linear infinite;
  overflow: default;
}

.error:after {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 150px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: blue;
  animation: noise-1 1s linear infinite;
}

.info {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  margin-top: 250px;
  position: absolute;
  left: 0;
  right: 0;
  animation: noise-3 5s linear infinite;
}

.btn {
    width: 200px;
    margin: auto;
    margin-top: 320px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 250;
}

.error:before {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: red;
  animation: noise-2 1s linear infinite;
}

@keyframes noise-1 {
  0%, 4%, 8%, 12%, 14%, 18% {opacity: 0;}
  2% {opacity: .1;}
  10% {opacity: .5; left: -6px;}
  16% {opacity: .3;}
  20% {opacity: 0; left: 2px;}
}

@keyframes noise-2 {
  0%, 4%, 8%, 12%, 14%, 18% {opacity: 0;}
  2% {opacity: .1;}
  10% {opacity: .5; left: 6px;}
  16% {opacity: .3;}
  20% {opacity: 0; left: -2px;}
}

@keyframes noise {
  0%, 0.6%, 1%, 8.4%, 8.8%, 20% {opacity: 1; transform: scaleY(1);}  
  .86% {opacity: 1; transform: scaleY(1.7);}
  8.6% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
  0%,0.6%,1%,8.4%,8.8%,20% {opacity: 1; transform: scaleY(1);}
  .86% {opacity: 1; transform: scaleY(4);}
  8.6% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}