<mat-card class="boardCard">
  <mat-card-header>
    <div mat-card-avatar class="boardIcon" [ngStyle]="board.icon"></div>
    <mat-card-title>{{ board.name }}</mat-card-title>
    <mat-card-subtitle>{{ board.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button class="createPost" color="primary" [routerLink]="['Create']">
      <mat-icon>library_add</mat-icon> Create a new post
    </button>
    <button mat-mini-fab class="favorite">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<h1>Posts </h1>

<app-post-explorer [posts]="posts"></app-post-explorer>